<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteCalc</title>
    <link rel="stylesheet" href="./../styles/main.css">
    <script defer src="./../js/main.js"></script>
</head>
<body>
    <h1 id="res"></h1>
    <div id="buttons">
        <div id="row1">
            <button id="clr">AC</button>
            <button id="sign">&#177</button>
            <button id="perc">%</button>
            <button id="div">&#247</button>
        </div>
        <div id="row2">
            <button id="num7">7</button>
            <button id="num8">8</button>
            <button id="num9">9</button>
            <button id="mul">&#215</button>
        </div>
        <div id="row3">
            <button id="num4">4</button>
            <button id="num5">5</button>
            <button id="num6">6</button>
            <button id="min">-</button>
        </div>
        <div id="row4">
            <button id="num1">1</button>
            <button id="num2">2</button>
            <button id="num3">3</button>
            <button id="plu">+</button>
        </div>
        <div id="row5">
            <button id="num0">0</button>
            <button id="dot">.</button>
            <button id="equ">=</button>
        </div>
    </div>
</body>
</html>